<!doctype html>
<html class="no-js" lang="en">
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <link rel="shortcut icon" href="{{assets}}/img/logo.png" type=ico/png>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
    <link rel="stylesheet" href="{{assets}}/css/ij.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>

    <!--
        Facebook SDK
    -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=563428290511035";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <header>
        <nav class="top-bar">

            <a href="/" class="top-bar-logo">
                <img src="{{assets}}/img/logo.png" alt="Iglesia de Jesucristo">
            </a>

            <ul class="top-bar-menu">
                <li class="close-mobile-menu"><a><i class="fa fa-times-circle"></i></a></li>
                <li><a href="iglesia.html">IGLESIA</a></li>
                <li><a href="horarios.html">HORARIOS</a></li>
                <li><a href="tv.html">TV</a></li>
                <li><a href="https://larevistaij.wordpress.com/">NOVEDADES</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>

            <div class="radio-player-wrapper"></div>

            <div class="mobile-menu-button">
                <i class="fa fa-bars"/></i>
            </div>

        </nav>
    </header>

    {{>body}}

    <footer>
        <div class="container">
            <span>
                ©2017 Fundacion Iglesia de Jesucristo
            </span>
            <ul>
                <li><a href="iglesia.html">Iglesia</a></li>
                <li><a href="horarios.html">Horarios</a></li>
                <li><a href="tv.html">Tv</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </footer>

    <script src="{{assets}}/js/ij.js"></script>

    <!--
        Google Analytics
    -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91051236-1', 'auto');
        ga('send', 'pageview');
    </script>

  </body>
</html>
